.menu {
  background-color: transparent;
  border: none;
  height: 38px;
  margin: 16px;
  width: 36px;
}

.ng-scope {
  height: 100%;
}

md-toolbar h3 {
  margin: auto;
  font-weight: 500;
}


md-list-item > button {
  width:100%;
  text-align:left !important;
  height:70px;;
}



md-list .md-button.selected {
  color: #03a9f4;
}


button#main {
  margin-bottom: 10px;
}

md-sidenav > md-toolbar {
  height:64px;
}

md-list-item {
  overflow: hidden;
}
#content  {
  padding-left: 40px;
  padding-right: 40px;
  padding-top: 5px;
}


